body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}

.btn-modern{
    height: 50px;
    width: 150px;
}

.btn-modern:hover{
transform: translatey(-5px);
background-color: rgb(12, 226, 105);
color: rgb(26, 119, 122);
transition: 0.4s;
border-bottom: 5px rgb(230, 37, 37);
box-shadow: 0px 12px 12px 0px black;
}


